.idea
.env
db.sqlite3
.blog_env
./blog_env
.gitignore
.idea/blog-project.iml
.idea/misc.xml
./.gitignore
# Django #
*.log
*.pot
*.pyc
__pycache__
media

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# pyenv
.python-version
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
./blog_env