{% extends 'blogs/base.html' %}
{% load bootstrap4 %}
{% block title %} - {{post.title}}{% endblock title %}

{% block content %}
    <article>
     <main role="main">
            <div class="container">
                <div>
                    <div>
                        <figure>
                           <!-- featured image -->
                            <img src="{{ post.image.url }}" class="rounded" alt="{{post.title}}">
                        </figure>
                    </div>
                    <div >
                        <h1>{{post.title}}</h1>
                        <p class="text-muted">
                            Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
                        </p>
                        <div class="article-body">
                            {{post.body|linebreaks}}
                        </div>
                    </div>
                </div>
            </div>
     </main>
    </article>
{% endblock content %}