{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block content %}
<!DOCTYPE html>
<html lang="">
    <title>Isah Jacob</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <main role="main">
        <div class="container">
            <!---Projects-->
            <div class="text-center text-info">
                <h1><u>Projects</u></h1>
            </div>
            <div class="row">
                <legend>
                    <div class="col">
                        <h4>Landing Page</h4>
                        <p>Landing page designed with just HTML and CSS. To take emails</p>
                        <a href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                    </div><br>
                    <div class="col">
                        <h4>Technical Writing</h4>
                        <p>Technical Writing about JavaScript. Designed with HTML and CSS</p>
                        <a href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                    </div><br>
                    <div class="col">
                        <h4>Note App</h4>
                        <p>A note app designed with Angular js. To take notes and save. </p>
                        <a href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                    </div><br>
                    <div class="col">
                        <h4>Portfolio</h4>
                        <p>My Portfolio showing my projects. Designed with HTML and CSS. </p>
                        <a href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                    </div><br>
                    <div class="col">
                        <h4>Web Form</h4>
                        <p>A web form designed with HTML and CSS to take emails </p>
                        <button class="btn btn-info"><a href="codepen.io/enecode"></a>Take a look</button>
                    </div><br>
                    <div class="col">
                        <h4>App Calculator</h4>
                        <p>A calculator designed with JavaScript, HTML and CSS</p>
                        <button class="btn btn-info"><a href="codepen.io/enecode"></a>Take a look</button>
                    </div>
                </legend>
            </div>
        </div>
    </main>
</body>
{% endblock %}