{% extends 'blogs/base.html' %}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>
<html lang="">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./static/jacob.jpg" width="50px" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Isah Jacob</title>
<body>
    <main role="main">
        <div class="container">
            <!---Projects-->
            <div class="text-center text-info">
                <h1><u>Projects</u></h1>
            </div><br>
            <div class="row">
                <div class="col-md-4">
                    <h4>Landing Page</h4>
                    <p>Landing page designed with just HTML and CSS. To take emails</p>
                    <a href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                </div>
                <div class="col-md-4">
                    <h4>Technical Writing</h4>
                    <p>JavaScript Technical Writing designed with HTML and CSS</p>
                    <a href="https://enecode.github.io/javascript-technical-writing" class="btn btn-info">Take a look</a>
                </div>
                <div class="col-md-4">
                    <h4>Blackjack Game</h4>
                    <p>The game of blackjack build with python</p>
                    <a href="https://github.com/Enecode/Black-Jack-Game-Build-With-Python" class="btn btn-info">Take a look</a>
                </div>
            </div><br>
            <div class="row"><br>
                 <div class="col-md-4">
                    <h4>Portfolio</h4>
                    <p>My Portfolio showing my projects. Designed with HTML and CSS. </p>
                    <a href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                </div>
                <div class="col-md-4">
                    <h4>Web Form</h4>
                    <p>A web form designed with HTML and CSS to take emails </p>
                    <button class="btn btn-info"><a href="codepen.io/enecode"></a>Take a look</button>
                </div><br>
                <div class="col-md-4">
                    <h4>App Calculator</h4>
                    <p>A calculator designed with JavaScript, HTML and CSS</p>
                    <button class="btn btn-info"><a href="codepen.io/enecode"></a>Take a look</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
{% endblock %}