{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/jacob.jpg" width="50px" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="bg-light">
    <div>
        <div class="container bg-light">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h1 class="text-center text-info">About Isah Jacob</h1>
                    <p class="text">Jacob is a software engineer with experience developing websites and applications.
                        His background in software engineering, technical writing, and digital marketing contributes to
                        his cautious but competitive approach. Jacob is motivated by a desire to understand the
                        complexities of cross-cultural advertising, work, and collaboration. He considers himself a
                        "lifelong learner," eager to expand his knowledge of software engineering and technical writing
                        while also staying current on the latest tech trends and digital marketing strategies through
                        continuing education.</p>
                </div>
                <div class="col-md-6"><br>
                    <img class="my-image mb-5" style="border-radius: 400px" src="../static/jacob.jpg" alt=" Isah Jacob" width="50%">
                </div>
            </div><br><hr>
             <!---Projects-->
            <div class="text-center text-info">
                <h1><u>Projects</u></h1>
            </div><br>
            <div class="row">
                <div class="col-md-4">
                    <h4>Landing Page</h4>
                    <p>Landing page designed with just HTML and CSS. To take emails</p>
                    <a  href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                </div>
                <div class="col-md-4">
                    <h4>Technical Writing</h4>
                    <p>JavaScript Technical Writing designed with HTML and CSS</p>
                    <a href="https://enecode.github.io/javascript-technical-writing" class="btn btn-info">Take a look</a>
                </div>
                <div class="col-md-4">
                    <h4>Blackjack Game</h4>
                    <p>The game of blackjack build with python</p>
                    <a href="https://github.com/Enecode/Black-Jack-Game-Build-With-Python" class="btn btn-info">Take a look</a>
                </div>
            </div><br>
            <div class="row"><br>
                 <div class="col-md-4">
                    <h4>Portfolio</h4>
                    <p>My Portfolio showing my projects. Designed with HTML and CSS. </p>
                    <a href="https://codepen.io/enecode" class="btn btn-info">Take a look</a>
                </div>
                <div class="col-md-4">
                    <h4>Web Form</h4>
                    <p>A web form designed with HTML and CSS to take emails </p>
                    <button class="btn btn-info"><a href="codepen.io/enecode"></a>Take a look</button>
                </div><br>
                <div class="col-md-4">
                    <h4>App Calculator</h4>
                    <p>A calculator designed with JavaScript, HTML and CSS</p>
                    <button class="btn btn-info"><a href="codepen.io/enecode"></a>Take a look</button>
                </div>
            </div><br>
            <div ><br>
                <h1 class="text-center text-info"><u>Quote</u></h1>
            </div>
                 <div>
                    <div class="col-md-8 mb-7">
                        <p class="quote-text"><i>“Even in such technical lines as engineering, about 15% of one’s financial success is due one’s technical knowledge and about 85% is due to skill in human engineering, to personality and the ability to lead people.”</i> </p><br> -Dale Carnegie
                    </div>
                 </div>
            </div><br>
            <div ><br>
                <h1 class="text-center text-info"><u>Contact</u></h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <br>
                        <h3>Where To Find Me?</h3><br>
                        <p>...for a cup of coffee, or whatever.</p><br>
                        <p>Lagos, Nigeria</p><br>
                        <p>+234 7055026427</p><br>
                        <p>isahjacob0@gmail.com</p><br>
                    </div>
                    <div class="col-md-7">
                        <h1>Contact</h1>
                        <p>GET IN TOUCH</p>
                        <form action="#" target="_blank">
                            <div class="form-group mb-3">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control mb-3" placeholder="Name" required name="Name">
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control mb-3" placeholder="Email" required name="Email">
                            </div>
                           <div class="form-group mb-3">
                                <label>Message</label>
                                <textarea placeholder="Message" required class="form-control">{{ text }}</textarea>
                            </div>
                            <div class="form-group mb-3">
                                <button class="btn btn-primary btn-out" required type="submit">Send</button>
                            </div>
                        </form><br>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}