{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/jacob.jpg" width="50px" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body class="bg-light">
    {% for post in posts %}
        <main role="main">
            <div class="container bg-light jumbotron">
                <div class="row">
                    <div class="col-md-3">
                        <div class=" p-18">
                            <!-- featured image -->
                           <img src="{%  static post.image.url %}" width="100%" class="rounded images featured-image-list" alt="{{post.title}}">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="p-18">
                            <a href="{{ post.get_absolute_url }}">
                                {{ post.title }}
                            </a>
                        </div>
                        <div  class="" >
                            <small>
                                Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
                            </small>
                        </div>
                        <p  class=" card-text">{{ post.body|safe|striptags|truncatechars:100 }}</p>
                        <div class="md-5">
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endfor %}
</body>
</html>
{% endblock content %}